    {% load custom_filters %}
	<h1>게시글 목록</h1>

	<table border="1">
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>
		</thead>
		<tbody>
			{% for bbs in bbs_list %}
			<!-- {# num = start_index - forloop.counter0 #} -->
			<tr>
				
				
				<!-- <td>{{ start_index|add:"-"|add:forloop.counter0 }} </td> -->
				<td>{{ start_index|desnumber:forloop.counter0 }} </td>
				<!-- <td>{{ forloop.counter0 }}</td> -->
				<td>
					{% if bbs.depth > 0 %}
						{{ ""|safe|repeat:bbs.depth }}↳
					{% endif %}
					{{ bbs.title }}
				</td>
				<td>{{ bbs.writer }}</td>
				<td>{{ bbs.created_at|date:"Y-m-d H:i" }}</td>
			</tr>
			{% empty %}
			<tr><td colspan="4">등록된 글이 없습니다.</td></tr>
			{% endfor %}
		</tbody>
	</table>

	<div>
		{% if is_paginated %}
			<div>
				{% if page_obj.has_previous %}
					<a href="?page=1">처음</a>
					<a href="?page={{ page_obj.previous_page_number }}">이전</a>
				{% endif %}

				<span>페이지 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">다음</a>
					<a href="?page={{ page_obj.paginator.num_pages }}">끝</a>
				{% endif %}
			</div>
		{% endif %}
	</div>