    <div class="list_board">
		<table cellspacing="0" border="0">
			<caption>List of articles</caption>
			<thead>
				<tr>
					<th scope="col" class="no">번호</th>
					<!-- <th scope="col" class="category">분류</th>					 -->
					<th scope="col" class="subject">제목</th>
					<th scope="col" class="name">작성자</th>					
					<th scope="col" class="date">작성일</th>					
					<th scope="col" class="hit">조회수</th>									
				</tr>
			</thead>
			<tbody>
				<!-- notice -->
				<!-- // notice -->
			    {% for bbs in bbs_list %}

				<tr>
					<td class="no">140</td>
					<!-- <td><span class="category">게시판</span></td>					 -->
					<td class="subject">
						<a href="/bbs_shop/read.htm?me_popup=&amp;auto_frame=&amp;cate_sub_idx=8451&amp;search_first_subject=&amp;list_mode=board&amp;board_code=qna&amp;search_key=&amp;key=&amp;page=1&amp;idx=8701">
						<span>&nbsp;{{bbs.title}}&nbsp;</span>
						<span class="commentCount"></span>																																																</a>
					</td>
					<td class="name inline">{{ bbs.writer }}</td>
					<td class="date inline">{{ bbs.created_at|date:"Y-m-d H:i" }}</td>
					<td class="hit inline"><i class="sp-ico hit">hit</i>1434</td>
			    </tr>
				{% endfor%}	
			</tbody>
		</table>
	</div>